@import "mocha.css";

* {
  font-family: DepartureMono Nerd Font, monospace;
  font-size: 18px;
  /*background-color: @base;*/
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
  /*border-radius: 5px;
  border: 2px solid @overlay0;
  padding: 20px;*/
}

/*#waybar > box {
  margin: 10px 8px 0 8px;
  padding: 2px;
  background-color: @base
  box-shadow: 0 0 4px @sky;
}*/

#workspaces button {
  color: @lavender;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
  text-shadow: 0 0 4px @sky;
  transition: text-shadow 0.3s cubic-bezier(0.68, -1, 0.27, 1.55);
}

#workspaces button:hover {
  color: @sapphire;
}

#network
#bluetooth
#clock,
#tray,
#backlight,
#battery,
#pulseaudio,
#custom-notification,
#custom-power {
  padding: 0.2rem 0.5rem;
}

#window {
  color: @lavender;
  text-shadow: 0 0 4px @lavender;
}

#clock {
  color: @blue;
  text-shadow: 0 0 4px @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
  text-shadow: 0 0 4px @green;
  transition: text-shadow 0.3s ease-out, color 0.3s ease-out;
}

#battery.warning:not(.charging) {
  color: @red;
  text-shadow: 0 0 4px @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
}


#pulseaudio.microphone {
  color: @blue;
}

#network {
  color: @lavender;
}

#network.disconnected, #network.disabled {
  color: @text;
  text-shadow: 0 0 4px @red;
}

#network.wifi, #network.ethernet {
  text-shadow: 0 0 4px @lavender;
}

#bluetooth {
  color: @blue;
}

#custom-power {
  color: @red;
}

#custom-notification {
  color: @blue;
}

#custom-notification.notification {
  color: @red;
  text-shadow: 0 0 4px @red;
}

#custom-notification.dnd {
  color: @lavender;
}

#custom-notification.dnd.notification {
  color: @maroon;
  text-shadow: 0 0 4px @maroon;
}

#cava {
  color: @sky;
  text-shadow: 0 0 4px @lavender;
}
